PORT=4177
HOST=0.0.0.0
# ADMIN_PASSWORD=change-me
LDXP_GITHUB_REPO=Yiyoki/liandongxiaopu-collection
LDXP_GITHUB_BRANCH=main
LDXP_UPSTREAM_MIN_INTERVAL_MS=1200
LDXP_UPSTREAM_TIMEOUT_MS=30000
# LDXP_DEPLOY_MODE=container
# LDXP_DATA_DIR=/app/data
# LDXP_ACW_SC_V2=
# LDXP_CONTAINER_UPDATE_COMMAND=
